node_modules
brestore.sh
brun_dev.sh
**/Publish/
**/Publishs/
**/target/
logs/
Publish/
bin/
obj/
Logs/
.vscode/
dist/
.vscode/
# Arquivos especificos de usuario
*.suo
.angulardoc.json
*.user
_ReSharper.*/
*.sdf
**/bin/
**/obj/
**/Debug/
**/bower_components/
**/node_modules/
**/Realease/
*.opensdf
*.tlog
*.log
TestResult.xml
*.VisualState.xml
Version.cs
Version.h
Version.cpp
GlobalPoints.sqlite
applicationhost.config
*.DS_Store
BusinessRegister.sln

BusinessRegister/src/Presentation.API/Properties copy/launchSettings.json
